* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* Common */
textarea,
input,
button,
select {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.logo__name {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
}

.btn {
    --height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
    min-width: 150px;
    border-radius: 6px;
    background: #212832;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    transition: all 0.5s;
}

.btn:hover {
    background: #fff;
    color: #000;
    border: 2px solid currentColor;
}

/* Header */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    column-gap: 70px;
}

.header__list {
    display: flex;
}

.header-item {
    padding: 0 23px;
}

.header-item__value {
    padding: 12px 0;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.header-item__value--active {
    position: relative;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header-item__value--active::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    border: 1px solid #7264d6;
    border-radius: 99px;
}

.header__action {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.header__link {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header__link:hover {
    text-decoration: underline;
}

.header__btn {
    --height: 52px;

    min-width: 113px;
}

/* Hero */
.hero__inner {
    margin-top: 34px;
    display: grid;
    grid-template-columns: auto auto;
}

.hero-top__title {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.hero-top__title::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
}

.hero-top__heading {
    width: 500px;
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero-top__heading > span {
    color: #7264d6;
}

.hero-top__desc {
    width: 540px;
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero-top__form {
    position: relative;
    display: inline-block;
    margin-top: 40px;
}

.hero-top__email {
    width: 540px;
    padding: 26px 170px 26px 23px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    color: #696d76;
    border: none;
    outline: none;
}

.hero-top__email::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.hero-top__submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    padding: 15px 30px;
    border-radius: 8px;
    background: #7264d6;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    border: none;
    transition: all 0.25s;
}

.hero-top__submit:hover {
    background: transparent;
    color: #7264d6;
    cursor: pointer;
    border: 2px solid currentColor;
}

.hero-top__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}
